#teachDevice {
    z-index: 1;
    height: 100%;
    padding: 40px 0 0 40px;
    box-sizing: border-box;
    .title {
      border-left: 5px solid #13c0ea;
      padding-left: 15px;
      font-size: 18px;
      color: #fff;
    }
    .content {
      font-size: 18px;
      color: #ffffff;
      margin-top: 100px;
      dl {
        display: inline-block;
        width: 15%;
        text-align: center;
        dt {
          font-size: 16px;
          margin-left: 38px;
        }
        dd {
          .price1 {
            color: #13c0ea;
            font-size: 12px;
          }
          .price2 {
            color: #ffcc34;
            font-size: 12px;
          }
        }
        .device_text {
          line-height: 66px;
        }
        .device_logo {
          padding-left: 22px;
          width: 100%;
          img {
            display: block;
            float: left;
            margin-right: 5px;
          }
          span {
            display: block;
            float: left;
            width: 164px;
            text-align: left;
          }
        }
      }
    }
  }